{% extends 'template.html' %}
{% block content %}
<script src="{{ url_for('commands.static', filename='vendor/gridstack/lodash.js') }}"></script>
<script src="{{ url_for('commands.static', filename='vendor/gridstack/gridstack.js') }}"></script>
<script src="{{ url_for('commands.static', filename='vendor/gridstack/gridstack.jQueryUI.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('commands.static', filename='vendor/gridstack/gridstack.css') }}">

<script src="{{ url_for('static', filename='js/connection.js') }}"></script>
<script src="{{ url_for('commands.static', filename='js/colorpicker.js') }}"></script>
<script src="{{ url_for('commands.static', filename='js/gridPanelView.js') }}"></script>
<script src="{{ url_for('commands.static', filename='js/gridPanelController.js') }}"></script>
<script src="{{ url_for('commands.static', filename='js/motionController.js') }}"></script>
<script src="{{ url_for('commands.static', filename='js/sequenceController.js') }}"></script>


<style type="text/css">

.grid-stack-item-content {
	text-align: center;
}

.grid-stack-item-removing {
	opacity: 0.2;
}

.trash {
	height: 100px;
	margin-bottom: 20px;
	background: rgba(255, 0, 0);
	position: relative;
	opacity: 0.1;
}

.color-item{
	height: 75px
}

</style>
<header class="container padding-16">
	<h2><b><i class="fa fa-terminal"></i> Commandes manuelles</b></h2>
</header>

<div class="cell mobile">
	<div class="panel">
		<div class="card round-large tertiary">
			<button class="btn container primary block left-align accordion-header">
				<h4><i class="accordion-icon"></i> Execution de séquence</h4>
			</button>
			<div  class="accordion-content">
				<div class="container padding-16">
					<select class="select border margin-bottom" name="sequence" id="sequence">
						<option value="" disabled selected>Choisir une séquence</option>
						{% for s in sequences %}
						{% if s.enabled %}
						<option value="{{ s.id }}" >{{ s.id }}</option>
						{% endif %}
						{% endfor %}
					</select>
					<input class="button secondary" id="playSeqButton" type="button" value="Executer la séquence">

				</div>
			</div>
		</div>
	</div>
</div>
<div class="cell mobile">
	<div class="panel">
		<div class="card round-large tertiary">
			<button class="btn container primary block left-align accordion-header">
				<h4><i class="accordion-icon"></i> Caméra</h4>
			</button>
			<div  class="accordion-content">
				<div class="container padding-16">
					<p>
						<iframe src="{{ cameraUrl }}" >
							<!-- Fallback here -->
						</iframe>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="cell mobile">
	<div class="panel">
		<div class="card round-large tertiary">
			<button class="btn container primary block left-align accordion-header">
				<h4><i class="accordion-icon"></i> Chariot</h4>
			</button>
			<div  class="accordion-content">
				<div class="container padding-16 cell">

					<table class="container cell">
						<tr>
							<td></td>
							<td><i class="button secondary fas fa-arrow-up motion-direction" value="motion_up"></i></td>
							<td></td>
						</tr>
						<tr>
							<td><i class="button secondary fas fa-arrow-left motion-direction" value="motion_left"></i></td>
							<td></td>
							<td><i class="button secondary fas fa-arrow-right motion-direction" value="motion_right"></i></td>
						</tr>
						<tr>
							<td></td>
							<td><i class="button secondary fas fa-arrow-down motion-direction" value="motion_down"></i></td>
							<td></td>
						</tr>
					</table>
					<div class="container cell">
						<div id="motion_slider" style="height:100px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<i class="button secondary fas fa-edit" id="editPanelButton"></i>
	<div id="newButtonPanel" class="tertiary border hide">
		<div id="newButtonTypeChoice" class="row margin-bottom container">
			<div class="third">
				<input type="radio" id="relayChoice" name="choice" value="relay" class="radio" checked>
				<label for="relayChoice">Relai</label>
			</div>
			<div class="third">
				<input type="radio" id="sequenceChoice" name="choice" value="sequence" class="radio">
				<label for="sequenceChoice">Séquence</label>
			</div>
			<div class="third">
				<input type="radio" id="soundChoice" name="choice" value="sound" class="radio">
				<label for="soundChoice">Son</label>
			</div>
		</div>
		<div id="newButtonOptions" class="row container">
			<select class="select border quarter" name="relays" id="relays">
				<option value="" disabled selected>Choisir un relai</option>
				{% for r in relays %}
				{% if r.enabled %}
				<option value="{{ r.label }}" >{{ r.label }}</option>
				{% endif %}
				{% endfor %}
			</select>
			<select class="select border quarter hide" name="sequences" id="sequences">
				<option value="" disabled selected>Choisir une séquence</option>
				{% for s in sequences %}
				{% if s.enabled %}
				<option value="{{ s.id }}" >{{ s.id }}</option>
				{% endif %}
				{% endfor %}
			</select>
			<select class="select border quarter hide" name="sounds" id="sounds">
				<option value="" disabled selected>Choisir un son</option>
				{% for s in sounds %}
				<option value="{{ s }}" >{{ s }}</option>
				{% endfor %}
			</select>

			<!--<input id="color" type="color" value="Ajouter" class="button light-grey border quarter" style="height: 40px">-->
			<a id="color" type="button" value="Couleur" class="border quarter button grey" data-color="grey">
				<i class="fas fa-palette"></i>
			</a>


			<input id="buttonLabel" type="text" value="" class="input quarter border" placeholder="Nom du bouton">
			<input id="addButton" type="button" value="Ajouter" class="border button secondary quarter">
		</div>
	</div>
	<div id="panel" class="border container white" style="width:100%">
		<div class="row-padding">
			<div class="trash center text-white row">
				<h1 class="cell-middle"><i class="fas fa-trash"></i></h1>
			</div>
		</div>
		<div class="row-padding">
			<div class="grid-stack" id="grid">

			</div>
		</div>
	</div>
</div>


<div id="color-picker" class="modal" style="z-index:4;">
	<div class="modal-content animate-top card-4">
		<header class="container primary">
			<span onclick="$('#color-picker').hide();" class="button display-topright xlarge">&times;</span>
			<h2>Selectionnez la couleur du bouton</h2>
		</header>
		<div class="container center">
			<div class="row margin-top">
				<input type="button" value="Bleu" class="btn quarter color-item blue" data-color="blue">
				<input type="button" value="Rouge" class="btn quarter color-item red" data-color="red">
				<input type="button" value="Jaune" class="btn quarter color-item yellow" data-color="yellow">
				<input type="button" value="Vert" class="btn quarter color-item green" data-color="green">
			</div>
			<div class="row margin-bottom">
				<input type="button" value="Gris" class="btn quarter color-item grey" data-color="grey">
				<input type="button" value="Noir" class="btn quarter color-item black" data-color="black">
				<input type="button" value="Bordeau" class="btn quarter color-item dark-red" data-color="dark-red">
				<input type="button" value="Bleu-marine" class="btn quarter color-item dark-blue" data-color="dark-blue">
			</div>
		</div>

	</div>
</div>


<script type="text/javascript">
$(document).ready(function() {
	connectionManager.init();

	gridPanelController.init();
	motionController.init();
	sequenceController.init();
});

</script>

{% endblock %}
