[Unit]
Description= CIPHER robotic server
After=network.target

[Service]
WorkingDirectory=/home/pi/project/
ExecStart=/usr/bin/python /home/pi/project/script.py
Restart=always

[Install]
WantedBy=multi-user.target


systemctl daemon-reload
systemctl start <service-name>
