body {
    margin: 0;
    padding: 0;
}

.loggin_panel {
    display: flex;
    height: 90vh;
}

.loggin_panel form {
    background-color: var(--bg-color);
    padding: 0px 40px 40px 40px;
    margin: auto auto auto auto;
    display:grid;
    border: 2px solid var(--color2);
}

@media (max-width: 768px) {
    .loggin_panel form {
        margin-left: 0px;
        margin-right: 0px;
        width: 100%;
    }
}

.success_message,
.error_message {
    position: fixed;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-weight: bold;
    font-size: larger;
}

.success_message {
    background-color: var(--success-color);
}

.error_message {
    background-color: var(--error-color);
}

.error_message:empty {
    padding: 0;
}