@font-face {
	font-family: Electrolize;
	src: url(/static/webfonts/Electrolize-Regular.ttf);
}

@font-face {
	font-family: Terminus;
	src: url(/static/webfonts/Terminus.ttf);
}


:root {
	--bg-color: #282828;
	--success-color: #689d6a;
    --error-color: #82100A;
	--color1: #82100A;
	--color2: #ebedf1;
    --color3: #000000;
    --color4: #1f2c39;
	--font: "Electrolize", sans-serif;
}

body {
	font-family: var(--font) !important;
	background-color: var(--bg-color);
	color: var(--color2)
}

input, textarea {
	font: inherit;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid var(--color2);
    border-left: none;
    background-color: var(--bg-color);
    color: var(--color2);
    border-image: initial;
    border-radius: 0px;
    padding: 14px 0;
    display: block;
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    height: 75px;
    resize: vertical;
}

input:hover, textarea:hover{
    background-color: rgba(255,255,255,0.2);
}

input:focus, textarea:focus {
    outline:none;
    background-color: transparent;
}

input[type="text"], 
input[type="username"], 
input[type="password"], 
input[type="number"],
textarea {
    width: 100%;
	text-indent: 10px;
    height: 3em;
    box-sizing: border-box;
}

input[type="button"],input[type="submit"], button, .button {
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--color1);
    color: var(--color2);
    text-decoration: none;
	padding:14px;
    cursor: pointer;
}

input[type="button"]:hover,input[type="submit"]:hover, button:hover, .button:hover {
    border: 1px solid var(--color1);
    color: var(--color2);
    background-color: var(--bg-color);
}


::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color1);
}

::-webkit-scrollbar-corner {
    background: var(--bg-color);
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: var(--color2);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0;
    border: none;
}

input[type="range"]:hover {
    opacity: 1;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: var(--color1);
    cursor: pointer;
}

input[type="checkbox"] {
    appearance: none;
    background-color: transparent;
    margin: 4px;
    font: inherit;
    color: currentColor;
    width: 1.7em;
    height: 1.7em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    padding: 0;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--color2);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

input[type="color"] {
    padding: 0;
    border: none;
    height: 50px;
}

select {
    padding: 14px 0;
    width: 100%;
    height: 3em;
    border: none;
    font: inherit;
    color: var(--color2);
    margin-bottom: 5px;
    margin-top: 5px;
    border-bottom: 1px solid var(--color2);
    background-color: var(--bg-color);
}

table {
    width: 100%;
}

table th {
    text-align: left;
}