<script src="{{ url_for('static', filename='js/cameraController.js') }}"></script>

<div class="panel">
    <div class="card round-large tertiary">
        <button class="btn container primary block left-align accordion-header">
            <h4><i class="accordion-icon"></i> Caméra</h4>
        </button>
        <div  class="accordion-content">
            <div class="container padding-16">
                <p>
                    <img id="camera" ></img>
                    <i class="button secondary fas fa-play" id="startCameraButton"></i>
                </p>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        cameraController.init();
    })
</script>