<script src="{{ url_for('static', filename='js/cameraController.js') }}"></script>

<div class="accordion">
    <header class="accordion-header">
        <i class="accordion-icon"></i> Caméra
    </header>
    <div  class="accordion-content">
        <img id="camera" ></img>
        <i class="button fas fa-play" id="start-camera-button"></i>
    </div>
</div>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
        cameraController.init();
    })
</script>