<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Erreur {{ error_code }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
</head>

<body class="background">
	<div class="error_panel">
		<h1><strong>{{ error_code }}</strong></h1>
		<h2>{{ error_message }}</h2>
	</div>
</body>

</html>