<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Connexion</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
	{% if session['logged_in'] %}
	<span class="success_message">
		Vous êtes déja connecté !
	</span>
	{% else %}
	<span class="error_message">{% for message in get_flashed_messages() %}
	{{ message }}
	{% endfor %}</span>
	{% endif %}

	<div class="login_panel">
		<form action="/login" method="POST">
			<h2>Connexion au panneau de gestion</h2>
			<input type="hidden" name="next" value="{{ request.args.get('next', '') }}">
			<input type="username" name="username" placeholder="Username" required>
			<input type="password" name="password" placeholder="Password" required>
			<input type="submit" value="Connexion">
		</form>
	</div>
</body>

</html>
