<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Robot panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/modals.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/clients.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/alert.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/loader.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome.css') }}">
	<script src="{{ url_for('static', filename='vendor/socket.io.js') }}"></script>

	<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
	<script src="{{ url_for('static', filename='js/templateController.js') }}"></script>
	<script src="{{ url_for('static', filename='js/connection.js') }}"></script>
	<script src="{{ url_for('static', filename='js/clientsController.js') }}"></script>
	<script src="{{ url_for('static', filename='js/clientsDisplayController.js') }}"></script>


</head>

<body class="no-sidebar">
	<!-- Top container -->
	<div id="topbar">
		<a class="button" id="sidebar-button"><i class="fa fa-bars"></i> Menu</a>
		<span id="link-buttons">
			<a href="/" class="button" id="home-button">C.I.P.H.E.R</a>
			<sup><a href="https://github.com/valorun/CIPHER/commits/master" class="button">v{{ version }}</a></sup>
		</span>
		<span id="clients-bar"></span>
		<a href="/logout" class="button" id="logout-button"><i class="fas fa-lock-open"></i> Déconnexion</a>
	</div>

	<!-- Sidebar/menu -->
	<nav class="sidebar" id="sidebar">
		<div class="header">
			<span>{{ robot_name }}</span>
			{% if session.logged_in %}
			<span>Bienvenue {{ session['username'] }} !</span>
			{% endif %}
			<img src="/static/favicon.ico">
		</div>
		{% for p in plugins %}
		<a href="/{{ p.name }}"><i class="fas {{ p.icon }}"></i> {{ p.label }}</a>
		{% endfor %}
		<a href="#" title="fermer le menu" id="close-sidebar-button"><i class="fa fa-chevron-left"></i></a>
	</nav>
	
	<div id="socket-error-modal" class="modal">
		<div class="modal-content">
			<header class="modal-header">
				<h2><i class="fas fa-exclamation-triangle"></i> Connexion perdue</h2>
			</header>
			<div class="modal-body">
				<span>Tentative de reconnexion ...</span>
				<ul class="loader">
					<li></li><li></li><li></li><li></li><li></li><li></li>    
				</ul>
			</div>
		</div>
	</div>

	<!-- !PAGE CONTENT! -->
	<div id="content">
		<header>
			<h1><i class="fa {{ icon }}"></i> {{ label }}</h1>
		</header>
		{% block content %}
		{% endblock %}

	<!-- End page content -->
	</div>

	<script>
    	document.addEventListener('DOMContentLoaded', () => {
			templateController.init();
			connectionManager.init();
			clientsController.init();
			clientsDisplayController.init();

		});
	</script>

	<div class="alert-modal"></div>

</body>
</html>
