{% extends 'template.html' %}
{% block content %}
<script src="/static/js/connection.js"></script>
<script src="/static/js/debug/debugController.js"></script>

<header class="container padding-16">
	<h2><b><i class="fa fa-bug"></i> Panneau de debug</b></h2>
</header>

<div class="panel">
	<div class="card round-large tertiary">
		<button class="btn container primary block left-align accordion-header">
			<h4><i class="accordion-icon"></i> Commande</h4>
		</button>
		<div  class="accordion-content">
			<div class="container padding-16">

				<input type="text" id="command" value="" class="input border margin-bottom" placeholder="Exemple: motion:0,0">
				<input class="button secondary" id="sendCommandButton" type="button" value="Envoyer">

			</div>
		</div>
	</div>
</div>
<div class="panel">
	<div class="card round-large tertiary">
		<button class="btn container primary block left-align accordion-header">
			<h4><i class="accordion-icon"></i> Phrase</h4>
		</button>
		<div  class="accordion-content">
			<div class="container padding-16">
				<input type="text" id="statement" value="" class="input border margin-bottom" placeholder="Exemple: 'Ceci est un exemple'">
				<input class="button secondary" id="sendStatementButton" type="button" value="Envoyer">

			</div>
		</div>
	</div>
</div>
<script>
$(document).ready(function() {
	connectionManager.init();

	debugController.init();
});

</script>
{% endblock %}
