{% extends 'template.html' %}
{% block content %}
<script src="/static/js/connection.js"></script>
<script src="/static/js/index/index.js"></script>

<header class="container padding-16">
	<h2><b><i class="fa fa-tachometer-alt"></i> Panneau de contrôle</b></h2>
</header>
<div class="container card padding-16 margin">
	<i class="xxlarge dark-red button fa fa-power-off" id="shutdownButton"></i>
	<i class="xxlarge dark-red button fa fa-redo" id="rebootButton"></i>
</div>

<div class="container card padding-16 margin">
	<video src="rtsp://myhost.com/mymedia.format">
		<!-- Fallback here -->
	</video>
</div>

{% endblock %}