{% extends 'template.html' %}
{% block content %}
<script src="/static/js/connection.js"></script>
<script src="/static/js/index/indexController.js"></script>

<header class="container padding-16">
	<h2><b><i class="fa fa-tachometer-alt"></i> Panneau de contrôle</b></h2>
</header>

<div class="panel">
	<div class="card white">
		<div class="container row" id="raspberries">
			
		</div>
	</div>
</div>

<div class="panel">
	<div class="card white">
		<div class="container">
			<p>
				<i class="xxlarge dark-red button fa fa-power-off" id="shutdownButton"></i>
				<i class="xxlarge dark-red button fa fa-redo" id="rebootButton"></i>
			</p>
		</div>
	</div>
</div>

<div class="panel">
	<div class="card white">
		<div class="container">
			<p>
				<video src="">
					<!-- Fallback here -->
				</video>
			</p>
		</div>
	</div>
</div>

{% endblock %}