<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
  	<title>Connexion</title>
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="stylesheet" href="/static/css/main.css">
  	<script src="/static/js/jquery.min.js"></script>
</head>

<body>
	{% block body %}
	{% if session['logged_in'] %}
	<p>Vous êtes déja connecté !!</p>
	{% else %}
	<div class="container center">
		<form action="/login" method="POST" class="card container">
			<h2>Connexion au panneau de gestion<h2>
			<p>
				<input type="username" name="username" placeholder="Username" required>
			</p>
			<p>
				<input type="password" name="password" placeholder="Password" required>
			</p>
			<p>
				<input type="submit" value="Connexion">
			</p>
		</form>
	</div>
	{% endif %}
	{% endblock %}
</body>

</html>
