{% extends 'template.html' %} {% block content %}
<link href="/static/vendor/vis.js/vis.min.css" rel="stylesheet" type="text/css" />
<script src="/static/vendor/vis.js/vis.js"></script>
<script src="/static/js/sequences/graphPanel.js"></script>
<script src="/static/js/sequences/graphPanelController.js"></script>
<script src="/static/js/sequences/sequencesController.js"></script>
<style type="text/css">
#network {
	width: 100%;
	height: 600px;
	border: 1px solid lightgray;
}
</style>

<header class="container padding-16">
	<h2><b><i class="fa fa-project-diagram"></i> Sequence drawer</b></h2>
</header>

<div class="panel">
	<div class="card white">
		<div class="container dark-blue">
			<h3>Création</h3>
		</div>
		<div class="container padding-16">

				<div class="container margin-bottom">
					<div>
						<input type="radio" id="motionChoice" name="choice" value="motion" class="radio" checked>
						<label for="motionChoice">Déplacement</label>
						<div id="motionOptions" class="row-padding">
							<div class="half">
								<label for="left">Gauche:</label>
								<input type="number" id="left" value="0" class="input border" min="-2047" max="2047">
							</div>
							<div class="half">
								<label for="right">Droite:</label>
								<input type="number" id="right" value="0" class="input border" min="-2047" max="2047">
							</div>
						</div>
					</div>

					<div>
						<input type="radio" id="servoChoice" name="choice" value="servo" class="radio">
						<label for="servoChoice">Séquence servomoteurs</label>
						<div id="servoOptions" class="container">
							<label for="sequence">Séquence:</label>
							<input type="number" id="sequence" value="0" class="input border" min="0">
							<!--<input type="text" id="sequence" value="" class="input border" placeholder="Exemple: sequence1">-->
						</div>
					</div>

					<div>
						<input type="radio" id="relayChoice" name="choice" value="relay" class="radio">
						<label for="relayChoice">Relai</label>
						<div id="relayOptions" class="row-padding">
							<div class="half">
								<label for="relay">Relai:</label>
								<select class="select border" name="relay" id="relay">
									<option value="" disabled selected>Choisir un relai</option>
									{% for r in relays %}
									{% if r.enabled %}
									<option value="{{ r.label }}" >{{ r.label }}</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>
							<div class="half">
								<input class="check" type="checkbox" checked="checked" id="relayOnOff">
								<label>On/Off</label>
							</div>
						</div>
					</div>

					<div>
						<input type="radio" id="speechChoice" name="choice" value="speech" class="radio">
						<label for="speechChoice">Parole</label>
						<div id="speechOptions" class="container">
							<label for="sentence">Phrase:</label>
							<input type="text" id="sentence" value="" class="input border" placeholder="Exemple: bonjour, je suis un robot">
						</div>
					</div>

					<div>
						<input type="radio" id="scriptChoice" name="choice" value="script" class="radio">
						<label for="scriptChoice">Script</label>
						<div id="scriptOptions" class="container">
							<label for="script">Script:</label>
							<select class="select border" name="script" id="script">
								<option value="" disabled selected>Choisir un script</option>
								{% for s in scripts %}
								{% if s %}
								<option value="{{ s }}" >{{ s }}</option>
								{% endif %}
								{% endfor %}
							</select>
						</div>
					</div>

					<div>
						<input type="radio" id="soundChoice" name="choice" value="relay" class="radio">
						<label for="soundChoice">Son</label>
						<div id="soundOptions" class="container">
							<label for="soundChoice">Son:</label>
							<select class="select border" name="sound" id="sound">
								<option value="" disabled selected>Choisir un son</option>
								{% for s in sounds %}
								<option value="{{ s }}" >{{ s }}</option>
								{% endfor %}
							</select>
						</div>
					</div>

					<div>
						<input type="radio" id="pauseChoice" name="choice" value="pause" class="radio">
						<label for="pauseChoice">Pause</label>
						<div id="pauseOptions" class="container">
							<label for="pause">Temps(ms):</label>
							<input type="number" id="pause" value="0" class="input border" min="0">
						</div>
					</div>
				</div>

				<div id="network"></div>

				<input type="text" id="name" value="" class="input border margin-bottom" placeholder="Exemple: sequence1">
				<input type="button" id="saveButton" value="Enregistrer" class="button dark-red">
			
		</div>
	</div>
</div>


<div class="panel">
	<div class="card white">
		<div class="container dark-blue">
			<h3>Séquences enregistrées</h3>
		</div>
		<div class="container">
			<p>
				<table class="table bordered">
					{% for s in sequences %}
					<tr id="{{ s.id }}">
						<td>{{ s.id }}</td>
						<td>
							{% if s.enabled %}
							<input id="enable_{{ s.id }}" type="checkbox" name="enableSeq" checked="checked" class="check">
							{% else %}
							<input id="enable_{{ s.id }}" type="checkbox" name="enableSeq" class="check">
							{% endif %}
							<label for="enable_{{ s.id }}">activé</label>
						</td>
						<td>
							<a id="edit_{{ s.id }}" type="button" name="editSeq" class="button dark-red">
								<i class="fas fa-edit "></i>
							</a>
						</td>
						<td>
							<a id="delete_{{ s.id }}" type="button" name="deleteSeq" class="button dark-red">
								<i class="fas fa-trash"></i>
							</a>
						</td>
						<td class="hide"><div id="data_{{ s.id }}" name="dataSeq">{{ s.value }}</div></td>
					</tr>
					{% endfor %}
				</table>
			</p>
		</div>
	</div>
</div>
{% endblock %}
