{% extends 'template.html' %}
{% block content %}
<script src="/static/js/settings/settings.js"></script>

<header class="container padding-16">
	<h2><b><i class="fa fa-cog"></i> Paramètres</b></h2>
</header>

<div class="container card padding-16 margin">
	<h3>Ajouter un relai</h3>
	<div class="container padding">
		<div class="half container">
			<label for="newLabel">Label: </label>
			<input id="newLabel" type="text" value="" class="input">
		</div>
		<div class="half container">
			<label for="newPin">Pin: </label>
			<input id="newPin" type="text" value="" class="input">
		</div>
		<div class="container">
			<input class="button dark-red" id="addRelay" type="button" value="Ajouter">
		</div>
	</div>
</div>


<div class="container card padding-16 margin">
	<h3>Relais enregistrées</h3>
	<table class="table bordered">
		<tr>
  			<th>Label</th>
  			<th>Pin</th>
		</tr>
		{% for r in relays %}
		<tr id="{{ r.label }}">
			<td class="white"><span >{{ r.label }}</span></td>
			<td class="white"><span>{{ r.pin }}</span></td>
			<!-- <td><input id="label_{{ r.label }}" type="text" name="labelRel" value="{{ r.label }}" class="input"></td>-->
			<!-- <td><input id="pin_{{ r.label }}" type="text" name="pinRel" value="{{ r.pin }}" class="input"></td>-->
			<td>
				{% if r.enabled==True %}
				<input id="enable_{{ r.label }}" type="checkbox" name="enableRel" checked="checked" class="check">
				{% else %}
				<input id="enable_{{ r.label }}" type="checkbox" name="enableRel" class="check">
				{% endif %}
				<label for="enable_{{ r.label }}">activé</label>
			</td>
			<td><input id="delete_{{ r.label }}" type="button" name="deleteRel" value="Supprimer" class="button dark-red"></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
