{% extends 'template.html' %}
{% block content %}
<script src="/static/js/connection.js"></script>
<!-- Include the WebRTC adapter -->
<script src="/static/vendor/JsSpeechRecognizer/adapter.js"></script>
<script src="/static/vendor/JsSpeechRecognizer/JsSpeechRecognizer.js"></script>
<script src="/static/js/speech/trainingController.js"></script>
<script src="/static/js/speech/dictationController.js"></script>
<script src="/static/js/speech/speechDetectionController.js"></script>

<header class="container padding-16">
	<h2><b><i class="fa fa-comments"></i> Actions vocales</b></h2>
</header>

<div class="panel">
	<div class="card round-large tertiary">
		<button class="btn container primary block left-align accordion-header">
			<h4><i class="accordion-icon"></i> Mot clé d'activation</h4>
		</button>
		<div  class="accordion-content">
			<div class="container">
				<p>
					Le mot-clé d'activation est la porte d'entrée pour communiquer avec le robot. Vous pourrez engager la conversation avec lui une fois qu'il sera entraîné à reconnaître un plusieurs mots clé. Il est à noter que plus le nombre d'échantillons audio sera important lors de l'entraînement, plus performante sera la reconnaissance du mot-clé.
				</p>
			</div>
			<div class="container padding-16">
				<label for="currentKeyword">Mot clé: </label>
				<input id="currentKeyword" type="text" value="" class="input border margin-bottom">
				<input class="button secondary margin-bottom" id="startStopRecordingButton" type="button" value="Lancer l'entrainement">
				<input class="button secondary margin-bottom" id="saveButton" type="button" value="Enregistrer l'entrainement">
			</div>

			<table id="training" class="table bordered responsive padding-16">
			</table>
		</div>
	</div>
</div>
<div class="panel">
	<div class="card round-large tertiary">
		<button class="btn container primary block left-align accordion-header">
			<h4><i class="accordion-icon"></i> Reconnaissance</h4>
		</button>
		<div  class="accordion-content">
			<div class="container">
				<p>
					<input class="button secondary" id="startRecognition" type="button" value="Lancer la reconnaissance">
					<!--<ul id="detectionResult" class="ul">
				</ul>-->
			</p>
		</div>
	</div>
</div>
</div>
<div class="panel">
	<div class="card round-large tertiary">
		<button class="btn container primary block left-align accordion-header">
			<h4><i class="accordion-icon"></i> Entrainement</h4>
		</button>
		<div  class="accordion-content">
			<div class="container">
				<p>
					Vous pouvez ici ajouter des phrases à une conversation. Des séquences peuvent être exécutées en réponse. Ces dernières peuvent avoir en paramètre des entités que l'on peut fournir dans la question a l'aide de la balise '{entity}'.
				</p>
			</div>

			<div class="row-padding">
				<div class="third">
					<label for="currentSentence">Phrase: </label>
					<input id="currentSentence" type="text" value="" class="input border">
				</div>
				<div class="third">
					<label for="currentResponse">Réponse: </label>
					<input id="currentResponse" type="text" value="" class="input border">
				</div>
				<div class="third">
					<label for="currentSequence">Séquence (optionnel): </label>
					<select id="currentSequence" class="select border" name="sequence">
						<option value="" disabled selected>Choisir une séquence</option>
						<option value="" >Aucune</option>
						{% for s in sequences %}
						{% if s.enabled %}
						<option value="{{ s.id }}" >{{ s.id }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>
			</div>

			<div class="container padding-16">
				<input class="button secondary" id="addToConvButton" type="button" value="Ajouter à la conversation">
			</div>
			<div class="container padding-16 leftbar">
				<h4>Conversation</h4>
				<ul id="conversation" class="ul half">
				</ul>
			</div>

			<div class="container padding-16">
				<input class="button secondary" id="trainButton" type="button" value="Entrainer">
			</div>
		</div>
	</div>
</div>

<div id="speechDetectionModal" class="modal" style="z-index:4;">
	<div class="modal-content card-4 tertiary"  style="height: 95%; overflow-y: hidden">
		<span id="stopRecognition" class="button display-topright xlarge">&times;</span>
		<div class="container" style="overflow-y: auto; height: 100%">
			<ul id="detectionResult" class="ul">

			</ul>
		</div>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	connectionManager.init();

	speechDetectionController.init();
});

</script>
{% endblock %}
