{% extends 'template.html' %}
{% block content %}
<!-- Include the WebRTC adapter -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script src="/static/js/adapter.js"></script>
<script src="/static/js/JsSpeechRecognizer.js"></script>
<script src="/static/js/keywordDetection.js"></script>
<script src="/static/js/speechToText.js"></script>

<header class="container padding-16">
  <h2><b><i class="fa fa-comments"></i> Actions vocales</b></h2>
</header>

<div class="row">
    <div class="one-half column">
        <h3>Entrainement</h3>
        <input type="file" id="inputDataset" style="display:none" class="select">
        <label for="inputDataset" class="button blue">Charger un entrainement</label>
        <div>
            Mot clé: <input id="currentKeyword" type="text" value="" class="input">
            <input class="button blue" id="startStopRecordingButton" type="button" value="Lancer l'entrainement">
            <input class="button blue" id="saveButton" type="button" value="save training">
        </div>

        <div id="training">
        </div>
    </div>

    <div class="one-half column">
        <h3>Reconnaissance</h3>
        <div>
            <input class="button blue" id="startStopRecognition" type="button" value="Lancer la reconnaissance" />
        </div>

        <div id="detectionResult">
        </div>
    </div>
</div>

{% endblock %}