<!doctype html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Robot panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/fontawesome.css') }}">
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/jquery/jquery-ui.min.js') }}"></script>
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/jquery/jquery-ui.min.css') }}">
	<script src="{{ url_for('static', filename='vendor/js.cookie.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/socket.io.js') }}"></script>

	<script src="{{ url_for('static', filename='js/utils.js') }}"></script>
	<script src="{{ url_for('static', filename='js/templateController.js') }}"></script>
</head>

<body class="background">

	<!-- Top container -->
	<div class="bar top black large card-4" style="z-index:4; position:sticky">
		<div class="bar-item hide-large">
			<button class="btn hover-text-light-grey" id="sidebar_button"><i class="fa fa-bars"></i>  Menu</button>
		</div>
		<div class="bar-item left hide-small hide-medium">
			<a href="/" class="btn hover-text-light-grey"><strong>C.I.P.H.E.R<sup>v1</sup></strong></a>
		</div>
		<div class="bar-item right">
			<a href="/logout" class="button"><i class="fas fa-lock-open"></i>  Déconnexion</a>
		</div>
	</div>

	<!-- Sidebar/menu -->
	<nav class="sidebar collapse primary animate-left" style="z-index:3;width:300px;" id="sidebar"><br>
		<div class="center">
			{% if session.logged_in %}
			<h3>Bienvenue {{ session['username'] }} !</h3>
			{% endif %}
			<i class="xxxlarge fas fa-robot"></i>
			<!--<img src="/static/img/logo.png" class="margin-right" style="width:50%">-->
		</div>
		<hr>
		<div class="container">
			<h4>Navigation</h4>
		</div>
		<div class="bar-block">
			{% for p in plugins %}
			<a href="/{{ p.name }}" class="bar-item button padding"><i class="fas {{ p.icon }}"></i>  {{ p.label }}</a>
			{% endfor %}
			<a href="#" class="bar-item button padding-16 hide-large dark-grey hover-black" title="fermer le menu" id="close_sidebar_button"><i class="fa fa-chevron-left"></i></a>
		</div>
	</nav>


	<!-- Overlay effect when opening sidebar on small screens -->
	<div class="overlay hide-large animate-opacity" style="cursor:pointer" title="close side menu" id="overlay"></div>

	
	<div id="socketErrorModal" class="modal" style="z-index:4;">
		<div class="modal-content animate-top card-4">
			<header class="container dark-red">
				<h2><i class="fas fa-exclamation-triangle"></i> Connexion perdue</h2>
			</header>
			<div class="container center">
				<h3>Tentative de reconnexion ...</h3>
				<div class="container">
					<ul class="loader">
						<li></li><li></li><li></li><li></li><li></li><li></li>    
					</ul>
				  </div>
			</div>
		</div>
	</div>

	<!-- !PAGE CONTENT! -->
	<div class="main" style="margin-left:300px;">
		<header class="container padding-16">
			<h2><b><i class="fa {{ icon }}"></i> {{ label }}</b></h2>
		</header>
		{% block content %}
		{% endblock %}

		<!-- Footer -->
		<footer class="container padding-16 center">
			<a href="#" class="button secondary margin"><i class="fa fa-arrow-up margin-right"></i>Remonter</a>
			<p><a href="https://clarius-robot.com/" target="_blank">La confrérie du Boulon</a></p>
			<p>Réalisation: Valorun - Ronan COLLIER</p>
			<p>Control Interface for Programmable Homemade Entertainment Robot</p>
		</footer>

		<!-- End page content -->
	</div>

	<script>
	$(document).ready(function() {
		templateController.init();
	});
	</script>

	<div class="alert-modal bottom"></div>

</body>
</html>
